# COURSERA CAPSTONE

## WEEK 3

### PART 2

#### Importing Libraries

In [2]:
import pandas as pd

#### Import the datfarame created in Part 1

In [3]:
  

%run Capstone_Week3_Part1_Toronto.ipynb

In [4]:
# Check the head of the dataframe created in Part 1
df.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

#### Read the CSV containing coordinates into a new dataframe

In [5]:
df_coord = pd.read_csv("Geospatial_Coordinates.csv")
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Merge the two dataframes on Postal Code to get the resulting dataframe

In [7]:
df_final = df.merge(df_coord, on="Postal Code", how="left")
df_final.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476